<!DOCTYPE HTML>
<html>
    <head>
        <title>My Web Page...!!</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script>
            function funcValidate() {
                console.log("entered")

                var username = document.querySelector('#username').value;
                var passd = document.querySelector('#password').value;
                var errorMessage = "";


                if (username.length === 0) {
                    document.querySelector('#error').innerHTML = "Please enter a username...!!!";
                    return false;
                }

                if (passd.length === 0){
                    document.querySelector('#error').innerHTML = "Please enter a password...!!!";
                    return false;
                }

                
                
                if ((/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(username)) {

                } else {
                    document.querySelector('#error').innerHTML = "Please enter a valid email as a username";
                    return false;
                }


                if (document.querySelector('#password').value.length < 6 ) {
                    document.querySelector('#error').innerHTML = "Password should be atleast 6 characters.";
                    return false;
                }

                

                const pass = document.querySelector('#password').value;

                if (!/[a-z]/.test(pass)) {
                    errorMessage += "Password should contain atleast one lowercase alphabet." + "\n"; 
                }

                if (!/[A-Z]/.test(pass)) {
                    errorMessage += "Password should contain atleast one uppercase alphabet." + "\n"; 
                }
                
                if (!/[0-9]/.test(pass)) {
                    errorMessage += "Password should contain atleast one number." + "\n"; 
                }

                if (!/[!@#\$%\^\&*\)\(+=._-]/.test(pass)) {
                    errorMessage += "Password should contain atleast one symbol." + "\n"; 
                }


                if (errorMessage === ""){
                    return true;
                }

                document.querySelector('#error').innerHTML = errorMessage;

                return false;

            }
        </script>
    </head>
    <body>
        <h1 style = "text-align: center;">Registration/Login Page</h1>
        
        <div class="row" style = "margin : 0 auto;">
            <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Enter Your Details Here
                    </div>
                    <div class="panel-body">
                        <form name="myform" method = "post">
                            <div class="form-group">
                                <label for="username">Username *</label>
                                <input id="username" name="username" class="form-control" type="text" data-validation="email" placeholder="Enter your name">
                                <span id="error_username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password *</label>
                                <input name = "password" type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input id="age" name="age"  class="form-control" type="number" min="1" >
                                <span id="error_age" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="dob">Date Of Birth</label>
                                <input type="date" name="dob" id="dob" class="form-control">
                                <span id="error_dob" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select name="gender" id="gender" class="form-control">
                                    <option selected>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                                <span id="error_gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="disc">Address</label>
                                <textarea name = "address" class="form-control" rows="3"></textarea>
                            </div>
                            
                            <button id="submit" type="submit"  onclick = "return funcValidate()" formaction = "{{ url_for('register') }}" value="submit" class="btn btn-primary center">Register</button>
                            <button id="submit1" formaction = "{{ url_for('auth') }}" value="submit" class="btn btn-primary center">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <h3 style = "text-align: center;">{{ message }}</h3>
            <ul>    
                {% for d in notesdata : %}
                <li>
                    {{ d }}
                </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <h4 id = "error" style = "text-align: center;"></h4>
        </p>
    </body>
</html>
