<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
        <h1 style = "text-align: center;">Review Page</h1>
        
        <div class="row" style = "margin : 0 auto;">
            <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form name="myform" action = "{{ url_for('review') }}" method = "post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" name="username" class="form-control" type="text" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label for="isbn">ISBN</label>
                                <input name = "isbn" type="text" class="form-control" id="isbn" placeholder="Enter ISBN number">
                            </div>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input id="title" name="title" class="form-control" type="text" placeholder="Enter title of the book">
                            </div>
                            <div class="form-group">
                                <label for="rating">Rate this book</label>
                                <input id="rating" name="rating"  class="form-control" type="number" min="1" max="5">
                            </div>
                            <div class="form-group">
                                <label for="description">Describe your experience</label>
                                <textarea name = "description" class="form-control" rows="5"></textarea>
                            </div>
                            
                            <button id="submit" type="submit" formaction = "{{ url_for('review') }}" value="submit" class="btn btn-primary center">Submit my review</button>
                            
                        </form>
                        <br>
                        <form name = "myform1" method = "get">
                            <button id="submit1" formaction = "{{ url_for('profile') }}" value="submit" class="btn btn-primary center">Go to my Profile</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <h3 style = "text-align: center;">{{ message }}</h3>
    </body>
</html>